---
layout: master
---

<script src="/scripts/length-index.js"></script>

<button class="button json">Get JSON</button>

<div class="list">
    {% for file in site.static_files %}
        {% if file.path contains "story/obt/main" or file.path contains "story/activities" or file.path contains "story/obt/memory" or file.path contains "story/obt/guide" %}
            <a href="{{ file.path }}" class="list__item">{{ file.path | replace: "/story/", "" }}</a>
        {% endif %}
    {% endfor %}
</div>
