.footer {
    width: 100%;
    max-width: $content-width;
    gap: 32px;
    padding-bottom: 16px;
    margin-top: auto;
    @include flex-center;
    &__item {
        @include flex-center;
        gap: 8px;
        .icon {
            width: 20px;
            height: 20px;
        }
    }
}
