.header {
    width: 100%;
    max-width: $content-width;
    background-color: $primary;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: $shadow;
    .navbar {
        flex-wrap: wrap;
        display: flex;
        &__item {
            font-size: 20px;
            font-weight: 500;
            padding: 8px 0px 8px 16px;
            color: $text-colour-muted;
            display: flex;
            gap: 16px;
            align-items: center;
            &:hover {
                color: $text-colour;
            }
            &:not(:last-of-type)::after {
                content: "";
                display: inline-block;
                width: 2px;
                height: 43px;
                border-radius: 2px;
                background-color: rgba(black, 0.5);
                box-shadow: 0 0 4px rgba(white, 0.1);
            }
        }
    }
}
