* {
    box-sizing: border-box;
}

body {
    background-color: $primary-minus-10;
    font-family: "Inter", sans-serif;
    color: $text-colour;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll;
    gap: 16px;
}

a {
    color: $accent-orange;
    text-decoration: none;
    transition: 200ms ease all;
    &:hover {
        color: $accent-orange-dark;
    }
}

details[open] {
    summary {
        margin-bottom: 4px;
        &::after {
            content: "Hide";
        }
    }
}

summary {
    user-select: none;
    width: max-content;
    &::after {
        display: inline-block;
        content: "Expand";
    }
}

label {
    cursor: pointer;
    user-select: none;
}

input {
    &[type="text"] {
        background-color: $primary-plus-10;
        border: none;
        box-shadow: $shadow;
        padding: 4px 5px;
        &:focus-visible {
            outline: 1px solid $accent-orange-dark;
        }
    }
}

button,
summary {
    border: none;
    padding: 8px;
    outline: 1px solid transparent;
    font-size: 12px;
    font-weight: 600;
    background-color: $primary;
    cursor: pointer;
    color: $text-colour;
    transition: 250ms ease all;
    letter-spacing: 1px;
    &:hover {
        outline: 1px solid $accent-orange-dark;
        background-color: $primary-plus-10;
    }
}

select {
    background-color: $primary-plus-10;
    border: none;
    box-shadow: $shadow;
    cursor: pointer;
    padding: 4px 5px;
}

.heading {
    background-color: $primary;
    margin: 0;
    box-shadow: $shadow;
    width: max-content;
    font-size: 24px;
    font-weight: 400;
    padding: 6px 10px;
}

p {
    margin: 0;
}

table {
    border-spacing: 0px;
    width: max-content;
    max-width: 100%;
    th {
        text-align: start !important;
        padding-bottom: 8px;

        color: var(--accent);
        padding-left: 64px;
    }
    td {
        border-top: solid 1px $divider;
        padding: 8px 0px;

        text-align: start !important;
        padding-left: 64px;
    }
    tr:first-child {
        > td {
            border-top: none;
        }
    }
    tr {
        td:first-child,
        th:first-child {
            padding-left: 0px;
        }
    }
}
.about {
    thead {
        display: none;
    }
}
