.content {
    // padding: 16px; <- media query
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $content-width;
    gap: 16px;
}

.act-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.comparison {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 1320px) {
    .content {
        padding: 8px;
    }
}
@media (max-width: 1100px) {
    .act-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .act-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 540px) {
    .act-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
