@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin count-before {
    display: flex;
    gap: 4px;
    color: $text-colour;
    font-size: 16px;
    &::before {
        display: inline-block;
        color: $text-colour-muted;
    }
    &--chars {
        &::before {
            content: "Characters";
        }
    }
    &--words {
        &::before {
            content: "Words";
        }
    }
}
