.rr-modal {
    background-color: $primary;
    min-width: 50%;
    max-width: 95%;
    &__header {
        padding: 8px 12px;
        border-bottom: 1px solid rgba(white, 0.7);
        font-size: 24px;
        font-weight: bold;
    }
    &__content-box {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        padding: 8px;
        gap: 8px !important;
        scrollbar-width: thin;
    }
    &__buttons-container {
        padding: 8px 12px;
        border-top: 1px solid rgba(white, 0.7);
        scrollbar-width: thin;
    }
    &__button {
        background-color: $primary-plus-10;
        &:hover {
            background-color: $primary-plus-20;
        }
    }
}

@media (max-width: 1000px) {
    .rr-modal {
        min-width: 100%;
        max-width: 100%;
        &__content-box {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
