.stage-list {
    &-item {
        display: grid;
        grid-template-areas: "title title" "chars words";
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background-color: $primary-minus-10;
        padding: 4px;
        &__title {
            grid-area: title;
            font-weight: 700;
            font-size: 16px;
            display: flex;
            gap: 4px;
            &-code {
                color: $text-colour-muted;
                display: flex;
                align-items: center;
                gap: 4px;
                &:empty {
                    display: none;
                }
                &::after {
                    display: inline-block;
                    content: "";
                    height: 100%;
                    width: 1px;
                    background-color: $accent-orange;
                }
            }
            &-name {
                margin: auto 0;
            }
        }
        &__length {
            @include count-before;
            &--words {
                grid-area: words;
            }
            &--chars {
                grid-area: chars;
            }
        }
    }
}
