@font-face {
    font-family: "Inter", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

/**
* main colours for all bodies
*/
$base-primary: #313131; // only used for math
$primary: var(--primary);
$primary-plus-5: var(--primary-plus-5);
$primary-plus-10: var(--primary-plus-10);
$primary-plus-20: var(--primary-plus-20);
$primary-minus-10: var(--primary-minus-10);
$primary-minus-20: var(--primary-minus-20);

/**
 * accent colours
 */
$accent-orange: var(--accent-orange);
$accent-orange-dark: var(--accent-orange-dark);

/**
* generic text colours
*/
$text-colour: var(--text-colour);
$text-colour-muted: var(--text-colour-muted);

/**
* generic colours
*/
$red: var(--red);
$blue: var(--blue);
$yellow: var(--yellow);
$green: var(--green);

/**
* other
*/
$divider: var(--divider);
$shadow: var(--shadow);
$content-width: var(--content-width);

:root {
    --primary: #{$base-primary};
    --primary-plus-5: #{adjust-color($color: $base-primary, $lightness: 5%)};
    --primary-plus-10: #{adjust-color($color: $base-primary, $lightness: 10%)};
    --primary-plus-20: #{adjust-color($color: $base-primary, $lightness: 20%)};
    --primary-minus-10: #{adjust-color($color: $base-primary, $lightness: -10%)};
    --primary-minus-20: #{adjust-color($color: $base-primary, $lightness: -20%)};
    --shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.3);
    --accent-orange: #f9a104;
    --accent-orange-dark: #fc4a03;
    --text-colour: rgba(255, 255, 255, 0.85);
    --text-colour-muted: rgba(255, 255, 255, 0.5);
    --red: #cc1e42;
    --blue: #00c2ff;
    --yellow: #f9a104;
    --green: #0bee7c;
    --divider: rgba(255, 255, 255, 0.05);
    --content-width: 1320px;
}
