@import "theme";
@import "mixins";
@import "header";
@import "footer";
@import "layouts";
@import "modal";
@import "stage-list";
@import "html-overrides";
@import "jekyll-includes/act";
@import "jekyll-includes/heading";
@import "jekyll-includes/comparison-item";
@import "jekyll-includes/comparison-header";

*[data-read-time] {
    position: relative;
    &::after {
        content: attr(data-read-time);
        position: absolute;
        opacity: 0;
        bottom: calc(100% + 4px);
        width: max-content;
        background-color: $primary-plus-10;
        transition: ease all 250ms;
        padding: 4px;
        left: 50%;
        transform: translate(-50%, 0);
        color: $accent-orange;
        box-shadow: $shadow;
        z-index: 1000;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
}
