{% comment %}
per operator words comparison
{% endcomment %}

{% capture content_words %}
    <div class="comparison comparison--operator comparison--story comparison--words">
        {% for character in site.data.lengths_per_operator %}
            {% assign bars = "" | split: "," %}
            {% assign labels = "" | split: "," %}
            {% assign count_main = character[1].main.words %}
            {% assign count_event = character[1].event.words %}
            {% assign count_total = count_main | plus: count_event %}
            {% assign name = character[0] %}

            {% capture bar_main %}
                {% include components/comparison-item__bar.html limit=70000 count=count_main type="words" %}
            {% endcapture %}
            {% capture bar_event %}
                {% include components/comparison-item__bar.html limit=70000 count=count_event type="words" %}
            {% endcapture %}
            {% capture bar_total %}
                {% include components/comparison-item__bar.html limit=70000 count=count_total type="words" %}
            {% endcapture %}
            {% assign bars = bars | push: bar_main | push: bar_event | push: bar_total %}
            {% assign labels = labels | push: "main" | push: "event" | push: "total" %}

            {% include components/comparison-item--operator--multi-count.html
            name=name
            index=forloop.index0
            count=count
            bars=bars
            labels=labels %}
        {% endfor %}
    </div>
{% endcapture %}

{% capture content_chars %}
    <div class="comparison comparison--operator comparison--story comparison--characters">
        {% for character in site.data.lengths_per_operator %}
            {% assign bars = "" | split: "," %}
            {% assign labels ="" | split: "," %}
            {% assign count_main = character[1].main.chars %}
            {% assign count_event = character[1].event.chars %}
            {% assign count_total = count_main | plus: count_event %}
            {% assign name = character[0] %}

            {% capture bar_main %}
                {% include components/comparison-item__bar.html limit=350000 count=count_main type="characters" %}
            {% endcapture %}
            {% capture bar_event %}
                {% include components/comparison-item__bar.html limit=350000 count=count_event type="characters" %}
            {% endcapture %}
            {% capture bar_total %}
                {% include components/comparison-item__bar.html limit=350000 count=count_total type="characters" %}
            {% endcapture %}
            {% assign bars = bars | push: bar_main | push: bar_event | push: bar_total %}
            {% assign labels = labels | push: "main" | push: "event" | push: "total" %}

            {% include components/comparison-item--operator--multi-count.html
            name=name
            index=forloop.index0
            count=count
            bars=bars
            labels=labels %}
        {% endfor %}
    </div>
{% endcapture %}

{% capture controls_chars %}
    {% include components/comparison-controls--operator--multi-count.html type="characters" sort_split_counts=true %}
{% endcapture %}

{% capture controls_words %}
    {% include components/comparison-controls--operator--multi-count.html type="words" sort_split_counts=true %}
{% endcapture %}

{% include components/comparison-header.html type="words" title="Operators" content=controls_words %}
{% include components/details.html content=content_words %}
{% include components/comparison-header.html type="characters" title="Operators" content=controls_chars %}
{% include components/details.html content=content_chars %}
