{% comment %}
per operator voice line length comparison
{% endcomment %}

{% assign char_count = 0 %}
{% assign word_count = 0 %}

{% capture content_chars %}
    <div class="comparison comparison--operator comparison--voice-lines comparison--characters">
        {% for story in site.data.lengths_operator_voice_lines %}
            {% include components/comparison-item--operator--single-count.html
            name= story.characterName 
            index=forloop.index0
            limit=13000
            count=story.count.chars
            type="characters" %}
            {% assign char_count = char_count | plus: story.count.chars %}
        {% endfor %}
    </div>
{% endcapture %}

{% capture content_words %}
    <div class="comparison comparison--operator comparison--voice-lines comparison--words">
        {% for story in site.data.lengths_operator_voice_lines %}
            {% include components/comparison-item--operator--single-count.html
            name= story.characterName 
            index=forloop.index0
            limit=2500
            count=story.count.words
            type="words" %}
            {% assign word_count = word_count | plus: story.count.words %}
        {% endfor %}
    </div>
{% endcapture %}

{% capture controls_chars %}
    {% include components/comparison-controls--operator--single-count.html type="characters" %}
{% endcapture %}

{% capture controls_words %}
    {% include components/comparison-controls--operator--single-count.html type="words" %}
{% endcapture %}

{% include components/comparison-header.html type="words" title="Operator Voice Lines" content=controls_words count=word_count %}
{% include components/details.html content=content_words %}
{% include components/comparison-header.html type="characters" title="Operator Voice Lines" content=controls_chars count=char_count %}
{% include components/details.html content=content_chars %}
