{% comment %}
per operator operator story comparison
{% endcomment %}

{% assign char_count = 0 %}
{% assign word_count = 0 %}

{% capture content_chars %}
    <div class="comparison comparison--operator comparison--op-stories comparison--characters">
        {% for character in site.data.lengths_operator_stories %}
            {% assign bars = "" | split: "," %}
            {% assign labels ="" | split: "," %}

            {% for story in character.stories %}
                {% capture bar %}
                    {% include components/comparison-item__bar.html limit=39000 count=story.count.chars type="characters" %}
                {% endcapture %}
                {% assign bars = bars | push: bar %}
                {% assign labels = labels | push: story.name %}
                {% assign char_count = char_count | plus: story.count.chars %}
            {% endfor %}

            {% include components/comparison-item--operator--multi-count.html
            name= character.characterName 
            index=forloop.index0
            count=count
            bars=bars
            labels=labels %}
        {% endfor %}
    </div>
{% endcapture %}

{% capture content_words %}
<div class="comparison comparison--operator comparison--op-stories comparison--words">
    {% for character in site.data.lengths_operator_stories %}
        {% assign bars = "" | split: "," %}
        {% assign labels ="" | split: "," %}

        {% for story in character.stories %}
            {% capture bar %}
                {% include components/comparison-item__bar.html limit=7000 count=story.count.words type="words" %}
            {% endcapture %}
            {% assign bars = bars | push: bar %}
            {% assign labels = labels | push: story.name %}
            {% assign word_count = word_count | plus: story.count.words %}
        {% endfor %}

        {% include components/comparison-item--operator--multi-count.html
        name= character.characterName 
        index=forloop.index0
        count=count
        bars=bars
        labels=labels %}
    {% endfor %}
</div>
{% endcapture %}

{% capture controls_chars %}
    {% include components/comparison-controls--operator--multi-count.html type="characters" sort_split_counts=false %}
{% endcapture %}

{% capture controls_words %}
    {% include components/comparison-controls--operator--multi-count.html type="words" sort_split_counts=false %}
{% endcapture %}

{% include components/comparison-header.html type="words" title="Operator Stories" content=controls_words count=word_count %}
{% include components/details.html content=content_words %}
{% include components/comparison-header.html type="characters" title="Operator Stories" content=controls_chars count=char_count %}
{% include components/details.html content=content_chars %}
