{% comment %}
per operator trust notes length comparison
{% endcomment %}

{% capture content_chars %}
    <div class="comparison comparison--story comparison--chars">
        {% for story in site.data.lengths_main_story %}
            {% assign count = 0 %}
            {% for stage in story.infoUnlockDatas %}
                {% assign count = count | plus: stage.count.chars %}
            {% endfor %}
            {% include components/comparison-item--story.html
            name= story.name
            index=forloop.index0
            limit=450000
            count=count
            type="characters" %}
        {% endfor %}
        {% for story in site.data.lengths_events %}
            {% assign count = 0 %}
            {% for stage in story.infoUnlockDatas %}
                {% assign count = count | plus: stage.count.chars %}
            {% endfor %}
            {% include components/comparison-item--story.html
            name= story.name
            index=forloop.index0
            limit=450000
            count=count
            type="characters" %}
        {% endfor %}
    </div>
{% endcapture %}

{% capture content_words %}
    <div class="comparison comparison--story comparison--words">
        {% for story in site.data.lengths_main_story %}
            {% assign count = 0 %}
            {% for stage in story.infoUnlockDatas %}
                {% assign count = count | plus: stage.count.words %}
            {% endfor %}
            {% include components/comparison-item--story.html
            name= story.name
            index=forloop.index0
            limit=80000
            count=count
            type="words" %}
        {% endfor %}
        {% for story in site.data.lengths_events %}
            {% assign count = 0 %}
            {% for stage in story.infoUnlockDatas %}
                {% assign count = count | plus: stage.count.words %}
            {% endfor %}
            {% include components/comparison-item--story.html
            name= story.name
            index=forloop.index0
            limit=80000
            count=count
            type="words" %}
        {% endfor %}
    </div>
{% endcapture %}

{% include components/comparison-header.html type="words" title="Story" %}
{{ content_words }}
{% include components/comparison-header.html type="characters" title="Story" %}
{{ content_chars }}
