.act {
    display: grid;
    grid-template-areas: "header header" "chars words" "details details";
    grid-template-rows: max-content max-content 1fr;
    position: relative;
    &__cover {
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        &--event {
            height: 120px;
        }
    }
    &__header{
        position: relative;
        grid-area: header;
    }
    &__title {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 4px 4px 4px;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.9) 100%);
        position: absolute;
        bottom: 4px;
        width: 100%;
        display: flex;
    }
    &__length {
        @include count-before;
        margin-bottom: 4px;
    }
    &__details-button {
        grid-area: details;
        padding: 4px 8px;
    }
}
