.comparison-header {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    &__controls {
        width: max-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 8px;
        .label {
            width: max-content;
        }
        select,
        input[type="text"] {
            min-width: 150px;
        }
    }
}

@media (max-width: 600px) {
    .comparison-header {
        &__title {
            padding: 10px;
            flex-direction: column;
            height: max-content;
            &::after {
                height: 2px;
                width: 100%;
            }
        }
    }
}
