// overwrite for main/event story overview
.comparison--story .comparison-item--character.comparison-item--multi-count {
    grid-template-columns: max-content 150px 50px 1fr;
}

.comparison-item {
    $root: &;

    display: grid;
    align-items: center;
    column-gap: 4px;
    background-color: rgba(white, 0.04);
    &--story {
        grid-template-areas: "name bar";
        grid-template-columns: 300px 1fr;
    }
    &--character {
        &#{$root}--multi-count {
            grid-template-areas: "avatar name labels bar";
            grid-template-columns: max-content 150px 250px 1fr;
        }
        &#{$root}--single-count {
            grid-template-areas: "avatar name bar";
            grid-template-columns: max-content 200px 1fr;
        }
    }
    &.odd {
        background-color: rgba(white, 0.08);
    }
    &__name {
        grid-area: name;
        padding-left: 8px;
    }
    &__count-container {
        display: flex;
        position: absolute;
        gap: 4px;
        left: calc(100% + 8px);
        height: 100%;
        align-items: center;
        width: max-content;
    }
    &__count {
        &--exact {
            opacity: 0;
            transition: 100ms ease all;
            color: $text-colour-muted;
        }
    }
    &__bars-labels {
        grid-area: labels;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
    }
    &__bar-label {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &__bars-container {
        grid-area: bar;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
        &:hover {
            #{ $root }__count--exact {
                opacity: 1;
            }
        }
    }
    &__bar {
        background-color: $primary-plus-10;
        height: 40px;
        background-position: center;
        border-radius: 0 4px 4px 0;
        position: relative;
        #{ $root }--character & {
            height: 20px;
        }
    }
    &__avatar-container {
        padding: 2px;
        grid-area: avatar;
        @include flex-center;
        height: calc(var(--size) + 4px);
        width: calc(var(--size) + 4px);
        --size: 60px;
        position: relative;
    }
    &__avatar {
        width: calc(var(--size) - 8px);
        height: calc(var(--size) - 8px);
        position: relative;
        mask-image: url("/img/masks/diamond.svg");
        mask-position: center;
        mask-size: cover;

        -webkit-mask-image: url("/img/masks/diamond.svg");
        -webkit-mask-size: cover;
        -webkit-mask-position: center;

        background-position: center;
        background-size: cover;
        z-index: 2;
        background-color: #404040;
    }
    &__avatar-border {
        z-index: 1;
        filter: brightness(40%);
        position: absolute;
        width: calc(var(--size));
        height: calc(var(--size));
        background-image: url("/img/masks/diamond.svg");
        background-position: center;
        background-size: cover;
    }
    &.hidden {
        display: none;
    }
}

@media (max-width: 1380px) {
    .comparison-item {
        &__bars-container {
            padding-right: 60px;
        }
    }
}

@media (max-width: 800px) {
    .comparison-item {
        $root: &;
        &--story {
            grid-template-columns: 200px 1fr !important;
        }
        &--character {
            &#{$root}--multi-count {
                grid-template-columns: max-content 100px 150px 1fr !important;
            }
            &#{$root}--single-count {
                grid-template-columns: max-content 100px 1fr !important;
            }
        }
        &__count {
            &--exact {
                display: none;
            }
        }
        &__bars-container {
            padding-right: 60px;
        }
    }
}
