.heading {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $primary;
    width: max-content;
    padding: 3px 10px;
    box-shadow: $shadow;

    &__title {
        margin: 0;
        font-weight: 400;
        font-size: 24px;
        @include flex-center;
        gap: 10px;
        min-height: 43px;
        text-align: center;
        &--has-content.heading__title {
            &::after {
                font-size: 16px;
                order: 2;
                content: "";
                display: inline-block;
                width: 2px;
                height: 43px;
                border-radius: 2px;
                background-color: rgba(black, 0.5);
                box-shadow: 0 0 4px rgba(white, 0.1);
            }
        }
    }
    &__content {
        display: flex;
        gap: 8px;
        align-items: center;
        span {
            color: $text-colour-muted;
            font-size: 16px;
        }
        .heading__count {
            display: flex;
            gap: 4px;
            color: $text-colour;
            width: max-content;
            &::before {
                display: inline-flex;
                content: attr(data-type);
                color: $text-colour-muted;
            }
        }
    }
}

@media (max-width: 600px) {
    .heading {
        padding: 10px;
        flex-direction: column;
        &__title {
            flex-direction: column;
            &::after {
                height: 2px !important;
                width: 100% !important;
            }
        }
        &__content {
            flex-direction: column;
        }
    }
}
