<div class="act act--main act--{{ include.id }}" data-stages="{{ include.stages | jsonify | xml_escape }}">
    <div class="act__header">
        <img src="{{ include.src }}" alt="{{ include.name }} Cover" class="act__cover act__cover--{{ include.type }} act__cover--{{ include.id }}">
        <span class="act__title">{{ include.name }}</span>
    </div>
    <span class="act__length act__length--chars" data-characters="{{include.char_count }}">{{ include.char_count }}</span>
    <span class="act__length act__length--words" data-words="{{include.word_count }}">{{ include.word_count }}</span>
    <button class="act__details-button">Details</button>
</div>