{% comment %}
reuseable comparison-item for operators where only a single count value is required

@param index: index of the iteration for alternate colors
@param name: name of this comparison entry
@param count: count
@param labels: array of labels for the bars
@param bars: bars
{% endcomment %}

{% assign modulo_result = include.index | modulo: 2%}
{% assign avatar_src = include.name | find_avatar %}

<div class="comparison-item comparison-item--multi-count comparison-item--character {% if modulo_result != 0 %} odd {% endif %}">
    {% include components/comparison-item__avatar-container.html src=avatar_src %}
    {% include components/comparison-item__name.html name=include.name %}
    <div class="comparison-item__bars-labels">
        {% for label in include.labels %}
            <span class="comparison-item__bar-label">{{ label }}</span>
        {% endfor %}
    </div>
    <div class="comparison-item__bars-container">
        {{ include.bars }}
    </div>
</div>
