{% comment %}
reusable avatar display for comparison items

@param src: avatar to use
{% endcomment %}

<div class="comparison-item__avatar-container">
    <div style="background-image: url('{{ include.src }}');" class="comparison-item__avatar"></div>
    <div class="comparison-item__avatar-border"></div>
</div>