<div class="comparison-header__controls {{ include.type | downcase }}">
    {% if include.sort_split_counts == true %}
    <label class="label label--operator" for="operator--{{ include.type }}" class="comparison-header__label">
        <input class="checkbox checkbox--operator" type="checkbox" name="operator--{{ include.type }}" id="operator--{{ include.type }}" checked>
        Operators
    </label>
    <label class="label label--npc" for="npc--{{ include.type }}" class="comparison-header__label">
        <input class="checkbox checkbox--npc" type="checkbox" name="npc--{{ include.type }}" id="npc--{{ include.type }}" checked>
        NPCs
    </label>
    {% endif %}
    <select title="Select Order" class="order" name="order--{{ include.type }}" id="order--{{ include.type }}">
        <option value="none">None</option>
        <option value="a-z">A - Z</option>
        <option value="z-a">Z - A</option>
        <option value="count-total">Total {{ include.type | capitalize  }}</option>
        {% if include.sort_split_counts == true %}
        <option value="count-event">Event {{ include.type | capitalize  }}</option>
        <option value="count-main">Main {{ include.type | capitalize  }}</option>
        {% endif %}
    </select>
    <input class="search search--text" type="text" name="search--{{ include.type }}" id="search--{{ include.type }}" placeholder="search...">
    <input class="search search--min-total" type="text" name="search--min-total" id="search--{{ include.type }}" placeholder="min. total">
</div>