{% comment %}
reusable bar for comparison-item

@param limit: highest expected value to calculate relative width with
@param count: raw count
@param type: characters | words, used for WPM estimation
{% endcomment %}

<div class="comparison-item__bar comparison-item__bar--main" style="width: calc(100% / {{ include.limit }} * {{ include.count }});">
    <div class="comparison-item__count-container">
        <span class="comparison-item__count comparison-item__count--rounded" data-{{ include.type }}="{{ include.count }}">{{ include.count | format_k }}</span>
        <span class="comparison-item__count comparison-item__count--exact">{{ include.count }}</span>
    </div>
</div>