{% comment %}
reuseable comparison-item for operators where only a single count value is required

@param index: index of the iteration for alternate colors
@param name: name of this comparison entry
@param count: count
@param type: characters | words, used for WPM estimation
{% endcomment %}

{% assign modulo_result = include.index | modulo: 2%}
{% assign avatar_src = include.name | find_avatar %}

<div class="comparison-item comparison-item--single-count comparison-item--character {% if modulo_result != 0 %} odd {% endif %}">
    {% include components/comparison-item__avatar-container.html src=avatar_src %}
    {% include components/comparison-item__name.html name=include.name %}
    <div class="comparison-item__bars-container">
        {% include components/comparison-item__bar.html limit=include.limit count=include.count type=include.type %}
    </div>
</div>
