<div class="comparison-header__controls {{ include.type | downcase }}">
    <select title="Select Order" class="order" name="order--{{ include.type }}" id="order--{{ include.type }}">
        <option value="none">None</option>
        <option value="a-z">A - Z</option>
        <option value="z-a">Z - A</option>
        <option value="count-total">Total {{ include.type | capitalize  }}</option>
    </select>
    <input class="search search--text" type="text" name="search--{{ include.type }}" id="search--{{ include.type }}" placeholder="search...">
    <input class="search search--min-total" type="text" name="search--min-total" id="search--{{ include.type }}" placeholder="min. total">
</div>