<footer class="footer">
    <a href="https://gitlab.com/RockRoller/ak-story-length" class="footer__item"> {% include icons/gitlab.html %}GitLab</a>
    <a href="/about#PrivacyandDataCollection" class="footer__item"> {% include icons/lock-solid.html %}Privacy</a>
</footer>
