<div class="heading">
    <h1 class="heading__title {% if include.has_content == true %}heading__title--has-content{% endif %}" id="{{ include.name | replace: ' ', '' }}">{{ include.name }}</h1>
    {% if include.has_content == true %}
        <div class="heading__content">
            {{ include.content }}
        </div>
    {% endif %}
</div>
