<header class="header">
    <nav class="navbar">
        <a class="navbar__item" href="/">Main & Event Stories</a>
        <a class="navbar__item" href="/operator/voice-lines">Voice Lines</a>
        <a class="navbar__item" href="/operator/trust-notes">Trust Notes</a>
        <a class="navbar__item" href="/operator/operator-stories">Operator Stories</a>
        <a class="navbar__item" href="/trivia">Trivia</a>
        <a class="navbar__item" href="/about">About</a>
    </nav>
</header>