---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} Title {% endcomment %}
        {% if page.title %}
            <title>{{ page.title }}</title>
            <meta property="og:title" content="{{page.title}}">
        {% else %}
            <title>Arknights Story Lengths Overview</title>
            <meta content="Arknights Story Lengths Overview" property="og:title">
        {% endif %}
        {% comment %} Description {% endcomment %}
        <meta content="An Overview of the Arknights Story Length by RockRoller" name="description">
        <meta content="An Overview of the Arknights Story Length by RockRoller" property="og:description">

        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
        <meta content="#fc4a03" name="theme-color">

        {%- comment -%} Open Graph exclusive meta tags {%- endcomment -%}
        {%- comment -%} Page Type {%- endcomment -%}
        <meta content="website" property="og:type">
        {%- comment -%} Image {%- endcomment -%}
        <meta content="/img/embed.png" property="og:image">
        <meta content="Overview over the Main Story Length of Arknights" property="og:image:alt">
        {%- comment -%} URL {%- endcomment -%}
        <meta content="{{ page.url }}" property="og:url">
        {%- comment -%} Twitter Card Type {%- endcomment -%}
        <meta name="twitter:card" content="summary_large_image">

        {% comment %} Assets {% endcomment %}
        <link href="/css/main.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    </head>
    <body>
        {% include components/header.html %}
        <div class="content {{ page.class }}">{{ content }}</div>
        {% include components/footer.html %}
    </body>
    <style>
        .navbar__item[href='{{ page.highlight }}']{
            color: var(--accent-orange)
        }
    </style>
</html>
